<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Заголовок страницы{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Меню</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Зарегистрироваться</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block title %}Главная страница {% endblock %}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if users %}
                <p>Зарегистрированные пользователи:</p>
                    <div class="row">
                        {% for user in users %}
                             <p class="col-12 col-md-12">Имя: {{ user.name }}<br>
                                 Фамилия: {{ user.last_name }}<br>
                                 Email пользователя: {{ user.email }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Пользователей в базе данных нет</p>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 MyWebsite</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}>"</script>
</body>
</html>
