
{% extends 'base_shop.html' %}

{% block title %}Интернет магазин - Обувь{% endblock %}

        {% block content %}
<h1>Обувь</h1>
        <div class="row">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
        <img src="/static/img/shoes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ботинки<h5>
        <a href="#" class="btn btn-primary">Купить</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
        <img src="/static/img/shoes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кеды</h5>
        <a href="#" class="btn btn-primary">Купить</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
        <img src="/static/img/shoes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Кроссовки</h5>
        <a href="#" class="btn btn-primary">Купить</a>
      </div>
    </div>
  </div>
</div>
        {% endblock %}
